
#include <windows.h>

#include "memsearch.h"

ID_MEM_SEARCH DIALOGEX 300, 0, 340, 220
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rudimentary Memory Searcher"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Courier New"
{
    LISTBOX         ID_MEM_SEARCH_LOG, 0, 0, 340, 200,  LBS_NOTIFY | WS_VSCROLL | LBS_EXTENDEDSEL | LBS_WANTKEYBOARDINPUT

    LTEXT           "Value", -1, 5, 202, 20, 8
    EDITTEXT        ID_MEM_SEARCH_BOX, 28, 200, 20, 12, ES_AUTOHSCROLL

    LTEXT           "From", -1, 55, 202, 20, 8
    EDITTEXT        ID_MEM_SEARCH_START_BOX, 75, 200, 30, 12, ES_AUTOHSCROLL

    LTEXT           "To", -1, 110, 202, 20, 8
    EDITTEXT        ID_MEM_SEARCH_END_BOX, 123, 200, 30, 12, ES_AUTOHSCROLL

    PUSHBUTTON      "Search", ID_MEM_SEARCH_BTN, 165, 198, 52, 15
}
