#include <windows.h>

#include "LinkerLog.h"

ID_LINKER_LOG DIALOGEX 300, 0, 420, 420
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Linker"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
    LISTBOX         ID_LINKER_LOG_LOG, 0, 0, 420, 400,  LBS_NOTIFY | WS_VSCROLL | LBS_EXTENDEDSEL | LBS_WANTKEYBOARDINPUT
    PUSHBUTTON      "Initialise linker", ID_LINKER_LOG_BTN, 10, 399, 69, 15
    AUTOCHECKBOX    "Log to linkerlog.txt", ID_LINKER_LOG_CHECKBOX, 86, 400, 100, 12
}
