
#include <windows.h>

#include "bs.h"

ID_SOME_BULLSHITS DIALOGEX 300, 0, 420, 420
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "some bullshit"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
    LISTBOX         ID_SOME_BULLSHITS_LOG, 0, 0, 420, 400,  LBS_NOTIFY | WS_VSCROLL | LBS_EXTENDEDSEL | LBS_WANTKEYBOARDINPUT
    EDITTEXT        ID_SOME_BULLSHITS_BOX, 10, 400, 50, 15, ES_AUTOHSCROLL
    PUSHBUTTON      "Search", ID_SOME_BULLSHITS_BTN, 69, 400, 52, 15
}
