
#include <windows.h> // include for version info constants

#define VER_VERSION             1,1,0,0
#define VER_VERSION_STR         "1.1.0.0"

1 VERSIONINFO
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "080904E4"
    {
      VALUE "CompanyName", "handheld underground"
      VALUE "FileVersion", VER_VERSION_STR
      VALUE "FileDescription", "hhugboy GB emulator"
      VALUE "InternalName", ""
      VALUE "LegalCopyright", "taizou 2013-6"
      VALUE "LegalTrademarks", ""
      VALUE "OriginalFilename", "hhugboy.exe"
      VALUE "ProductName", "hhugboy"
      VALUE "ProductVersion", VER_VERSION_STR
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0809, 1252
  }
}
